.home_container label{
    width: 100%;
    background-position: center center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_container h1{
    font-size: 2em;
    margin-bottom: .5em;
    margin: 0 .1em;
    text-align: left;
    background-color: transparent;
    color:aliceblue;
}
.home_container p{
    padding: 2px;
    font-size: 20px;
    margin-bottom: 3em;
    color: rgb(255, 253, 253);
    border-radius: 10px;
    background-color: black;
    text-align: center 
}

.home_container img{
    margin-top: 10px;
    width: 100%;
    position: relative !important;
    height: unset;
}

.home_container section{
    font-size: 20px;
    background-color: aliceblue;
    width: 70%;
    border-radius: 10px;
    background: aliceblue;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 10px;
}

.home_container b{ 
    display: inline-block;
    padding: 2px;
    font-size: 17px;
    margin-bottom: 17px;
    background-color: aliceblue;
    margin-top: 17px;
    color: black;
    border-radius: 5px;
    text-align: center;
}
.home_container u{ 
    width: 100%;
    background-position: center center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}