.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 1em;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right: 1em;
}

.item a{
    color: rgb(5, 10, 15);
    text-decoration: none;

}

.item a:hover{
    color: rgb(176, 22, 214);
    text-decoration: none;
}