.search {
    position: absolute;
    top: 38rem;
    left: 15%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 300px;
    z-index: 10;
  }
  
  .search input {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 100%;
  }

  .mapa{
    align-items: left;
    display: left;
    position: relative;
  }